@inject IHubServices<Aquisition> SaleService
<div class="container bg-light rounded bg-opacity-75">
    <h1 class="text-center mb-4">Acquisition Register</h1>
    <div class="input-group mb-3 search-bar">
        <input @bind="key" @oninput="SearchSale" type="text" class="form-control" id="searchInput" placeholder="Search name or date">
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-light table-bordered">
            <thead class="table-header">
                <tr>
                    <th>
                        Stock Number
                        <br/>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </th>
                    <th>
                        Full Description and Weight of Goods
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </th>
                    <th>
                        Acquired From<br /><br/>
                        <ol>
                            <li>
                                FullName
                            </li>
                            <li>
                                ID Number
                            </li>
                            <li>
                                Manner of Verifivation
                            </li>
                            <li>
                                Telephone Numbers
                            </li>
                            <li>
                                Vehicle Registration
                            </li>
                            <li>
                                Contact Address
                            </li>
                        </ol>
                    </th>
                    <th>
                        Person Conducting Transaction on behalf of dealer<br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </th>
                    <th>
                        Date and Time of Transaction<br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </th>
                    <th>
                        Purchase Amount <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </th>
                </tr>
            </thead>
            <tbody id="salesTable">
                <!-- Table rows will be dynamically added here -->
                @if(TempList.Count == 0)
                {
                    <tr>
                        <td class="text-center" colspan="7">
                            No Results
                        </td>
                    </tr>
                    
                }
                else
                {
                    foreach(var sale in TempList)
                    {
                        <tr>
                            <td>@sale.Id</td>
                            <td>
                                <ol>
                                    <li><b>Description : </b>@sale.Description</li>
                                    <li><b>Weight :</b>@(sale.Weight)kgs</li>
                                </ol>
                                 
                            </td>
                            <td>
                                <ol>
                                    <li>@sale.FullName</li>
                                    <li>@sale.IdNumber</li>
                                    <li>@sale.MannerOfVerification</li>
                                    <li>@sale.TelephoneNumbers</li>
                                    <li>@sale.VehicleRegistration</li>
                                    <li>@sale.ContactAddress</li>
                                </ol>
                            </td>
                            <td>
                                <ol>
                                    <li> <b>FullName</b> : @sale.IntermediaryFullName</li>
                                    <li><b>Signature</b> :@sale.IntermediarySignature</li>
                                </ol>
                            </td>
                            <td>
                                <ol>
                                    <li>Date :@sale.DateTime.ToShortDateString()</li>
                                    <li>Time :@sale.DateTime.ToShortTimeString()</li>
                                </ol>
                            </td>
                            <td>
                                @(decimal.Parse(sale.PurchasePrice).ToString("C"))
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string CompanyName { get; set; } = string.Empty;
    List<Aquisition> OriginalList { get; set; } = new ();
    List<Aquisition> TempList { get; set; } = new();

    string key = string.Empty; 
    protected async override Task OnParametersSetAsync()
    {
        OriginalList = await SaleService.GetAsync(CompanyName);
        TempList = OriginalList;
    }
    private void SearchSale(ChangeEventArgs e)
    {
        key = e.Value!.ToString() ?? string.Empty;
        Regex rx = new(@$"{key.ToLower()}");
        TempList = OriginalList.Where(s => 
                                rx.IsMatch(s.FullName.ToLower()) ||
                                rx.IsMatch(s.DateTime.ToShortDateString()) 
            ).ToList();
    }
}
